*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Alfa Slab One', cursive;
}
a, a:hover{
	text-decoration: none;
}
/*********** Common CSS Start ************/

.container{
	max-width: 960px;
	width: 96%;
}

h4{
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	color: #3d2514;
}
h2{
	font-size: 36px;
	line-height: 46px;
	text-transform: uppercase;
	color: #3d2514;
}
img{
	max-width: 100%;
}
/*********** Common CSS End ************/
/******* Head Section start *********/
.head-section{
	width: 100%;
	background: url("../images/design.png") center top no-repeat;
	background-size: cover;
}
.head-section img{
	margin-top: 25px;
}
.head-section .phone_number{
	text-align: right;
}
.head-section .phone_number .vector{
	height: 20px;
	margin-right: 185px;
}
.head-section .phone_number p{
	font-size: 11px;
	font-weight: 600;
	margin: -20px 0px;
	text-transform: capitalize;
	color: #3d2514;
}
.head-section .menu{
	width: 100%;
	text-align: right;
	margin-top: 25px;
	letter-spacing: 2px;
}
.head-section .menu li{
	list-style: none;
	display: inline-block;
	margin-left: 30px;
}
.head-section .menu li a{
	font-size: 12px;
	color: #3d2514;
	text-transform: uppercase;
	font-weight: 400;
	transition: 1s;
	font-family: 'Bebas Neue', cursive;
}
.head-section .menu li a:hover{
	color: red;
}
.head-section .banner{
	width: 100%;
	margin-top: 0px;
}
.head-section .banner p{
	font-size: 13px;
	text-transform: uppercase;
	color: #3d2514;
	position: absolute;
	margin: 102px 8px;
	font-weight: 500;
}
.head-section .banner .rect{
	position: relative;
	height: 48px;
	margin-top: 90px;
}
.head-section .banner h1{
	font-size: 72px;
	text-transform: uppercase;
	color: #3d2514;
	text-shadow: 2px 3px 2px aliceblue;
}
.head-section .banner h3{
	font-size: 42px;
	text-transform: uppercase;
	color: #3d2514;
	text-shadow: 2px 3px 2px aliceblue;
	margin: -10px 0px;
}
/*********** Head Section End *********/
/******** food-sectio start *********/
.food-section{
	width: 100%;
	padding: 50px 0;
}
.food-section .card{
	margin-bottom: 27px;
}
.food-section .card .card-title{
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
}
.food-section .card-text{
	font-size: 26px;
	line-height: 26px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	margin-top: -10px;
}
/******** food-sectio end ********/
/* ********** Choose Section Start ********** */
.choose_section{
	width: 100%;
	padding: 50px;
	text-align: center;
}
.choose_section h4{
	font-size: 14px;
	color: #42200B;
    height: 24px;
}
.choose_section .ybox{
	height: 33px;
	margin: -37px 0px 0px -104px;
	z-index: -1;
	position: absolute;
	width: 208px;
}
.choose_section h2{
	font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    color: #42200B;
}
.choose_section p{
	font-size: 14px;
    line-height: 22px;
    color: #42200B;
}
.choose_section .card{
	border: 0px;
}
.choose_section .card .img-fluid{
	height: 270px;
	margin-top: 20px;
}
.choose_section .card-title{
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #462510;
}
.choose_section .card-text{
    font-size: 14px;
    line-height: 24px;
    color: #462510;
}
.choose_section .btn-danger{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 0px;
    color: #fff;
    background: #DF1C1C;
	border: 1px solid #DF1C1C;
    transition: 1s;
}
.choose_section .btn-danger:hover{
	color: #DF1C1C;
    background: transparent;
	border: 1px solid #DF1C1C;
}
/* ********** Choose Section End ********** */
/* ********** upcoming-section Start ********** */
.upcoming-section{
	width: 100%;
	padding: 50px 0px;
}
.upcoming-section h4{
	font-size: 16px;
	text-transform: uppercase;
	color: #42200B;
	margin-top: 50px;
	margin-top: -15px;
}
.upcoming-section h2{
	font-size: 36px;
	line-height: 46px;
	text-transform: uppercase;
	color: #42200B;
}
.upcoming-section p{
	font-size: 14px;
	line-height: 24px;
	color: #42200B;
}
/* ********** upcoming-section End ********** */
/* ********** table-section Start ********** */
.table-section{
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background: url("../images/image 143246.png") top no-repeat;
	background-size: cover;
}
.table-section h4{
	font-size: 16px;
	text-transform: uppercase;
	color: #42200B;
	margin-top: 50px;
	margin-top: -15px;
}
.table-section h2{
	font-size: 36px;
	line-height: 46px;
	text-transform: uppercase;
	color: #42200B;
	margin-bottom: 40px;
}
.table-section form{
	padding: 10px 20px;
}
.table-section .form-control{
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 50px;
	padding: 10px 8px;
}
.table-section .btn-danger{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 0px;
	width: 100%;
	margin: 3px 0px 30px 0px;
    color: #fff;
    background: #DF1C1C;
	border: 1px solid #DF1C1C;
    transition: 1s;
}
.table-section .btn-danger:hover{
	color: #DF1C1C;
    background: transparent;
	border: 1px solid #DF1C1C;
}
/* ********** table-section End ********** */
/* ********** footer-section Start ********** */
.footer-section{
	width: 100%;
}
.footer-section .row{
	background: url("../images/footer image.png") center top no-repeat;
	background-size: cover;
}
.footer-section img{
	margin-top: 25px;
	margin-left: 30px;
}
.footer-section p{
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 80px;
	color: #fff;
	margin-left: 30px;
}
.footer-section h6{
	font-size: 12px;
	color: #fff;
	margin-top: 155px;
	margin-left: 30px;
}
.footer-section .contact{
	display: inline-grid;
	margin: 160px 100px;
}
.footer-section .contact a{
	color: #fff;
}
.footer-section .contact .fa{
	font-size: 22px;
	margin-right: 10px;
	color: #fff;
	margin-bottom: 10px;
}
.footer-section .social-icons{
	text-align: right;
	margin-right: 20px;
}
.footer-section .social-icons .fa{
	font-size: 18px;
	color: #fff;
	margin-left: 10px;
	margin-bottom: 10px;
}
/* ********** footer-section End ********** */
